*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:visited {color: none;}
a:active {color: none;}
.bootCard {
    background-color: blue;
    width: 100%;
    height: 50%;
    padding: 3%;
}
.left {
    padding-left: 5%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: blue;
    border: none;
}
.right {
    border-radius: 10px;
}
.intro {
    line-height: 30px;
    color: white;
}
.card-body h6 {
    font-size: 25px;
}
.card-body h3 {
    font-size: 60px;
}
.card-title {
    margin-bottom: 20px;
    margin-top: 20px;
}
.content p {
    text-decoration: none;
    margin-top: -10px
}
.content a {
    text-decoration: none;
    color: grey;
}

/* SEARCH AREA  */
.container {
    margin-top: 10%;
    width: 120%;
    padding: 0px;
}
.sBtn {
    background-color: black;
    display: inline-block;
}
.sBtnCont {
    border:1px solid black;
    background-color: black;
    text-align: center;
    cursor: pointer;
}

/* DROPDOWN  */
.dropbtn {
    color: gray;
    border: none;
    cursor: pointer;
    outline: none;
}
.dropbtn option {
    text-align: center;

}
.dropdown {
    border:1px solid black;
    box-shadow: 0 0 7px 0 black;
    position: relative;
    display: inline-block;
    padding: 0% 2%;
    background-color: white;
    text-align: center;
}
